body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  color: darkblue;
}

div {
  display: grid;
  background-color: lightskyblue;
}

h1 {
  display: grid;
  grid-column-start: 2;
}

form {
  display: grid;
  grid-column-start: 2;
  white-space: pre-wrap;
}

footer {
  display: grid;
  grid-column-start: 2;
  text-align: center;
}