body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 1em;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

div {
  background-color: lightskyblue;
}

h1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 7;
  box-sizing: border-box;
  text-align: center;
  background-color: antiquewhite;
}

ul {
  margin-top: 0;
  margin-bottom: auto;
}

p {
  text-decoration: underline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {
  color: darkblue;
}

label {
  margin-top: 1em;
}

form {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 7;
}

textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

textarea:focus {
  background-color: antiquewhite;
}

textarea:hover {
  background-color: antiquewhite;
}

button {
  margin-top: 1em;
}

button:hover{
  background-color: #4CAF50;
  color: white;
}

footer {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
  margin-top: 1em;
}